<div *ngIf="!hideTable" class="characterDisplayTableContainer">
  <h4>Saved Characters</h4>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let character"> {{character[column]}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="selectCharacter($event)" *matRowDef="let characterrow; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="characterDisplaySingleCharacter">
    <h4>Selected Character</h4>
    <div>Name: {{selectedCharacter.characterName}}</div>
    <div>Class: {{selectedCharacter.characterClass}}</div>
    </div>