<div>
    <form [formGroup]="characterGetForm" class="character-sheet__form-container">
    <div class="character-sheet__form-section">
      <mat-form-field >
          <mat-label for="characterName">Character Name</mat-label>
          <input matInput
                type="text"
                class="form-control"
                formControlName="name"
                id="characterName" required>
      </mat-form-field>
      <button class="character-sheet__form-row--button" mat-stroked-button (click)="getCharacterfromDb()">Roll</button>
    </div>
    </form>
    </div>
    <div *ngFor="let character of myCharacters; let i = index">
        <li>{{character.characterName}}</li>
    </div>