<div class="character-sheet">
  <mat-card-title>Character Sheet</mat-card-title>
  <form [formGroup]="characterSheetForm" class="character-sheet__form-container">

    <div class="character-sheet__form-section">
      <mat-form-field >
          <mat-label for="characterName">Character Name</mat-label>
          <input matInput
                type="text"
                class="form-control"
                formControlName="characterName"
                id="characterName" required>
      </mat-form-field>
    </div>

    <div class="character-sheet__form-section">
      <mat-form-field >
        <mat-label for="characterClass">Character Class</mat-label>
          <!-- <mat-select class="form-control" id="characterClass" formControlName="characterClass" [(ngModel)]="selectedCharacterClass" (ngModelChange)="onCharacterSelect()" required> -->
            <mat-select class="form-control" id="characterClass" formControlName="characterClass" [(ngModel)]="selectedCharacterClass" required> 
            <mat-option value="barbarian">Barbarian</mat-option>
              <mat-option value="bard">Bard</mat-option>
              <mat-option value="cleric">Cleric</mat-option>
              <mat-option value="druid">Druid</mat-option>
              <mat-option value="fighter">Fighter</mat-option>
              <mat-option value="monk">Monk</mat-option>
              <mat-option value="paladin">Paladin</mat-option>
              <mat-option value="ranger">Ranger</mat-option>
              <mat-option value="rogue">Rogue</mat-option>
              <mat-option value="sorcerer">Sorcerer</mat-option>
              <mat-option value="warlock">Warlock</mat-option>
          </mat-select>
      </mat-form-field>
    </div>

    <div class="character-sheet__form-section">
      <mat-form-field >
          <mat-label for="characterName">Level</mat-label>
          <input matInput
                type="number"
                class="form-control"
                formControlName="characterLevel"
                id="characterLevel" required>
      </mat-form-field>
    </div>

    <!-- <div *ngIf="startingEquipment" class="character-sheet__form-row character-sheet__form-row--list">
      <div class="character-sheet__form-section">
          <div class="character-sheet__list-label">Equipment List</div>
          <div class="character-sheet__list-item" *ngFor="let equipment of startingEquipment.starting_equipment">{{equipment.item.name}}</div>
      </div>
    </div> -->

    <div class="character-sheet__form-row">
      <div class="character-sheet__form-section">
        <mat-form-field >
          <mat-label for="characterSrength">Strength</mat-label>
          <input matInput 
                type="number"
                class="form-control"
                formControlName="characterSrength"
                id="characterSrength" required>
          </mat-form-field>
        </div>
        <button class="character-sheet__form-row--button" mat-stroked-button (click)="strengthRoll()">Roll</button>
      </div>

    <div class="character-sheet__form-row">
      <div class="character-sheet__form-section">
        <mat-form-field >
          <mat-label for="characterDexterity">Dexterity</mat-label>
          <input matInput
                type="number"
                class="form-control"
                formControlName="characterDexterity"
                id="characterDexterity" required>
        </mat-form-field>
      </div>
      <button class="character-sheet__form-row--button" mat-stroked-button (click)="dexterityRoll()">Roll</button>
    </div>

    <div class="character-sheet__form-row">
      <div class="character-sheet__form-section">
        <mat-form-field >
          <mat-label for="characterConstitution">Constitution</mat-label>
          <input matInput
                type="number"
                class="form-control"
                formControlName="characterConstitution"
                id="characterConstitution">
          </mat-form-field>
      </div>
      <button class="character-sheet__form-row--button" mat-stroked-button (click)="constitutionRoll()">Roll</button>
    </div>

    <div class="character-sheet__form-row">
    <div class="character-sheet__form-section">
      <mat-form-field >
        <mat-label for="setPieces">Intelligence</mat-label>
        <input matInput
              type="number"
              class="form-control"
              formControlName="characterIntelligence"
              id="characterIntelligence">
      </mat-form-field>
    </div>
    <button class="character-sheet__form-row--button" mat-stroked-button (click)="intelligenceRoll()">Roll</button>
  </div>

  <div class="character-sheet__form-row">
    <div class="character-sheet__form-section">
      <mat-form-field >
        <mat-label for="characterWisdom">Wisdom</mat-label>
        <input matInput
              type="number"
              class="form-control"
              formControlName="characterWisdom"
              id="characterWisdom">
        </mat-form-field>
    </div>
    <button class="character-sheet__form-row--button" mat-stroked-button (click)="wisdomRoll()">Roll</button>
  </div>

  <div class="character-sheet__form-row">
    <div class="character-sheet__form-section">
      <mat-form-field >
          <mat-label for="characterCharisma">Charisma</mat-label>
          <input matInput
                type="number"
                class="form-control"
                formControlName="characterCharisma"
                id="characterCharisma">
          </mat-form-field>
      </div>
      <button class="character-sheet__form-row--button" mat-stroked-button (click)="charismaRoll()">Roll</button>
    </div>

    <div class="character-sheet__form-row">
      <div class="character-sheet__form-section">
        <mat-form-field >
          <mat-label for="characterHitPoints">Hit Points</mat-label>
          <input matInput
                type="number"
                class="form-control"
                formControlName="characterHitPoints"
                id="characterHitPoints">
          </mat-form-field>
      </div>
      <button class="character-sheet__form-row--button" mat-stroked-button (click)="constitutionRoll()">Roll</button>
    </div>

    <div class="character-sheet__form-row">
      <div class="character-sheet__form-section">
        <mat-form-field >
          <mat-label for="characterExperiencePoints">Experience Points</mat-label>
          <input matInput
                type="number"
                class="form-control"
                formControlName="characterExperiencePoints"
                id="characterExperiencePoints">

          <button mat-stroked-button (click)="experienceLevelUp()">Experience level up</button>
        </mat-form-field>
      </div>
      <button class="character-sheet__form-row--button" mat-stroked-button (click)="constitutionRoll()">Roll</button>
    </div>
  
    <div class="character-sheet__form-row">
      <div class="character-sheet__form-section">
        <mat-form-field >
          <mat-label for="characterArmorClass">Armor Class</mat-label>
          <input matInput
                type="number"
                class="form-control"
                formControlName="characterArmorClass"
                id="characterArmorClass">
        </mat-form-field>
      </div>
      <button class="character-sheet__form-row--button" mat-stroked-button (click)="constitutionRoll()">Roll</button>
    </div>

    <div class="character-sheet__form-row">
      <div class="character-sheet__form-section">
        <mat-form-field >
          <mat-label for="characterAlignment">Alignment</mat-label>
            <mat-select class="form-control" id="characterAlignment" formControlName="characterAlignment" required>
                <option value="Lawful">Lawful</option>
                <option value="Neutral">Neutral</option>
                <option value="Chaotic">Chaotic</option>
            </mat-select>
          </mat-form-field>
      </div>
      <button class="character-sheet__form-row--button" mat-stroked-button (click)="constitutionRoll()">Roll</button>
    </div>
    
    <div class="character-sheet__form-row">
      <div class="character-sheet__form-section">
        <mat-form-field >
          <mat-label for="characterSTMagicWand">Saving Throws - Magic Wand</mat-label>
          <input matInput
                type="number"
                class="form-control"
                formControlName="characterSTMagicWand"
                id="characterSTMagicWand">
        </mat-form-field>
      </div>
      <button class="character-sheet__form-row--button" mat-stroked-button (click)="constitutionRoll()">Roll</button>
    </div>

    <div class="character-sheet__form-row">
      <div class="character-sheet__form-section">
        <mat-form-field >
          <mat-label for="characterSTPoison">Saving Throws - Poison</mat-label>
          <input matInput
                type="number"
                class="form-control"
                formControlName="characterSTPoison"
                id="characterSTPoison">
          </mat-form-field>
      </div>
      <button class="character-sheet__form-row--button" mat-stroked-button (click)="constitutionRoll()">Roll</button>
    </div>

    <div class="character-sheet__form-row">
      <div class="character-sheet__form-section">
        <mat-form-field >
          <mat-label for="characterSTParalysis">Saving Throws - Paralysis</mat-label>
          <input matInput
                type="number"
                class="form-control"
                formControlName="characterSTParalysis"
                id="characterSTParalysis">
          </mat-form-field>
      </div>
      <button class="character-sheet__form-row--button" mat-stroked-button (click)="constitutionRoll()">Roll</button>
    </div>

    <div class="character-sheet__form-row">
      <div class="character-sheet__form-section">
        <mat-form-field >
          <mat-label for="characterSTDragonBreath">Saving Throws - Dragon Breath</mat-label>
          <input matInput
                type="number"
                class="form-control"
                formControlName="characterSTDragonBreath"
                id="characterSTDragonBreath">
          </mat-form-field>
      </div>
      <button class="character-sheet__form-row--button" mat-stroked-button (click)="constitutionRoll()">Roll</button>
    </div>

    <div class="character-sheet__form-row">
      <div class="character-sheet__form-section">
        <mat-form-field >
          <mat-label for="characterSTSpells">Saving Throws - Spells</mat-label>
          <input matInput
                type="number"
                class="form-control"
                formControlName="characterSTSpells"
                id="characterSTSpells">
        </mat-form-field>
      </div>
      <button class="character-sheet__form-row--button" mat-stroked-button (click)="constitutionRoll()">Roll</button>
    </div>

    <div class="character-sheet__form-row">
      <div class="character-sheet__form-section">
        <mat-form-field >
          <mat-label for="characterEquipment">Saving Throws - Equipment</mat-label>
          <input matInput
                type="number"
                class="form-control"
                formControlName="characterEquipment"
                id="characterEquipment">
          </mat-form-field>
      </div>
      <button class="character-sheet__form-row--button" mat-stroked-button (click)="constitutionRoll()">Roll</button>
    </div>
      
        <div class="row px-3">
          <button class="character-sheet__form-row--button-submit" mat-stroked-button (click)="addCharacterToDB()">Save Character</button>
        </div>
  </form>
</div>
