<div class="character-sheet">
  <form [formGroup]="characterSheetForm" class="character-sheet__form-container">

    <div class="character-sheet__form-section">
      <mat-form-field  >
          <mat-label for="characterName">Character Name</mat-label>
          <input matInput
                type="text"
                class="form-control"
                formControlName="characterName"
                id="characterName" required>
      </mat-form-field>
      <div>{{characterClass}}</div>
    </div>

    <div class="character-sheet__form-section">
      <mat-form-field >
        <mat-label for="characterClass">Character Class</mat-label>
          <mat-select class="form-control" id="characterClass" formControlName="characterClass" required>
              <mat-option value="Cleric">Cleric</mat-option>
              <mat-option value="Dwarf">Dwarf</mat-option>
              <mat-option value="Elf">Elf</mat-option>
              <mat-option value="Fighter">Fighter</mat-option>
              <mat-option value="Halfling">Halfling</mat-option>
              <mat-option value="Magic-User">Magic-User</mat-option>
              <mat-option value="Thief">Thief</mat-option>
          </mat-select>
      </mat-form-field>
      <div>{{characterClass}}</div>
    </div>

    <div class="character-sheet__form-section">
      <mat-form-field >
        <mat-label for="characterSrength">Strength</mat-label>
        <input matInput 
              type="number"
              class="form-control"
              formControlName="characterSrength"
              id="characterSrength">
        </mat-form-field>
        <!-- <div>{{abilityScoreData?.desc}}</div> -->
    </div>

    <div class="character-sheet__form-section">
      <mat-form-field >
        <mat-label for="characterDexterity">Dexterity</mat-label>
        <input matInput
              type="number"
              class="form-control"
              formControlName="characterDexterity"
              id="characterDexterity">
      </mat-form-field>
    </div>

    <div class="character-sheet__form-section">
      <mat-form-field >
        <mat-label for="characterConstitution">Constitution</mat-label>
        <input matInput
              type="number"
              class="form-control"
              formControlName="characterConstitution"
              id="characterConstitution">
        </mat-form-field>
    </div>

    <div class="character-sheet__form-section">
      <mat-form-field >
        <mat-label for="setPieces">Intelligence</mat-label>
        <input matInput
              type="number"
              class="form-control"
              formControlName="characterIntelligence"
              id="characterIntelligence">
      </mat-form-field>
    </div>

    <div class="character-sheet__form-section">
      <mat-form-field >
        <mat-label for="characterWisdom">Wisdom</mat-label>
        <input matInput
              type="number"
              class="form-control"
              formControlName="characterWisdom"
              id="characterWisdom">
        </mat-form-field>
    </div>

    <div class="character-sheet__form-section">
      <mat-form-field >
          <mat-label for="characterCharisma">Charisma</mat-label>
          <input matInput
                type="number"
                class="form-control"
                formControlName="characterCharisma"
                id="characterCharisma">
          </mat-form-field>
      </div>


      <div class="character-sheet__form-section">
        <mat-form-field >
          <mat-label for="characterHitPoints">Hit Points</mat-label>
          <input matInput
                type="number"
                class="form-control"
                formControlName="characterHitPoints"
                id="characterHitPoints">
          </mat-form-field>
      </div>

      <div class="character-sheet__form-section">
        <mat-form-field >
          <mat-label for="characterExperiencePoints">Experience Points</mat-label>
          <input matInput
                type="number"
                class="form-control"
                formControlName="characterExperiencePoints"
                id="characterExperiencePoints">

          <button (click)="experienceLevelUp()">Experience level up</button>
        </mat-form-field>
      </div>
  
      <div class="character-sheet__form-section">
        <mat-form-field >
          <mat-label for="characterArmorClass">Armor Class</mat-label>
          <input matInput
                type="number"
                class="form-control"
                formControlName="characterArmorClass"
                id="characterArmorClass">
        </mat-form-field>
      </div>

      <div class="character-sheet__form-section">
        <mat-form-field >
          <mat-label for="characterAlignment">Alignment</mat-label>
            <mat-select class="form-control" id="characterAlignment" formControlName="characterAlignment" required>
                <option value="Lawful">Lawful</option>
                <option value="Neutral">Neutral</option>
                <option value="Chaotic">Chaotic</option>
            </mat-select>
          </mat-form-field>
      </div>

      <div class="character-sheet__form-section">
        <mat-form-field >
          <mat-label for="characterLevel">Level</mat-label>
          <input matInput
                type="number"
                class="form-control"
                formControlName="characterLevel"
                id="characterArmorLevel">
        </mat-form-field>
      </div>
  
      <div class="character-sheet__form-section">
        <mat-form-field >
          <mat-label for="characterSTMagicWand">Saving Throws - Magic Wand</mat-label>
          <input matInput
                type="number"
                class="form-control"
                formControlName="characterSTMagicWand"
                id="characterSTMagicWand">
        </mat-form-field>
      </div>

      <div class="character-sheet__form-section">
        <mat-form-field >
          <mat-label for="characterSTPoison">Saving Throws - Poison</mat-label>
          <input matInput
                type="number"
                class="form-control"
                formControlName="characterSTPoison"
                id="characterSTPoison">
          </mat-form-field>
      </div>

      <div class="character-sheet__form-section">
        <mat-form-field >
          <mat-label for="characterSTParalysis">Saving Throws - Paralysis</mat-label>
          <input matInput
                type="number"
                class="form-control"
                formControlName="characterSTParalysis"
                id="characterSTParalysis">
          </mat-form-field>
      </div>

      <div class="character-sheet__form-section">
        <mat-form-field >
          <mat-label for="characterSTDragonBreath">Saving Throws - Dragon Breath</mat-label>
          <input matInput
                type="number"
                class="form-control"
                formControlName="characterSTDragonBreath"
                id="characterSTDragonBreath">
          </mat-form-field>
      </div>

      <div class="character-sheet__form-section">
        <mat-form-field >
          <mat-label for="characterSTSpells">Saving Throws - Spells</mat-label>
          <input matInput
                type="number"
                class="form-control"
                formControlName="characterSTSpells"
                id="characterSTSpells">
        </mat-form-field>
      </div>

      <div class="character-sheet__form-section">
        <mat-form-field >
          <mat-label for="characterEquipment">Saving Throws - Equipment</mat-label>
          <input matInput
                type="number"
                class="form-control"
                formControlName="characterEquipment"
                id="characterEquipment">
          </mat-form-field>
      </div>
      
        <div class="row px-3">
          <button type="submit" class="btn btn-success btn-block" (click)="addCharacterToDB()">Add Set To Collection</button>
        </div>
  </form>
</div>
