<div class="app-character-sheet">
  <h2>character sheet</h2>
  <form [formGroup]="characterSheetForm" class="container">

    <div class="form-group col-lg-12">
      <label for="characterName">Character Name</label>
      <input type="text"
            class="form-control"
            formControlName="characterName"
            id="characterName" required>
    </div>

    <div class="form-group col-lg-12">
      <label for="characterClass">Character Class</label>
        <select class="form-control" id="characterClass" formControlName="characterClass" required>
            <option value="Cleric">Cleric</option>
            <option value="Dwarf">Dwarf</option>
            <option value="Elf">Elf</option>
            <option value="Fighter">Fighter</option>
            <option value="Halfling">Halfling</option>
            <option value="Magic-User">Magic-User</option>
            <option value="Thief">Thief</option>
        </select>
    </div>

    <div class="form-group col-lg-12">
      <label for="characterSrength">Strength</label>
      <input type="number"
            class="form-control"
            formControlName="characterSrength"
            id="characterSrength">
    </div>

    <div class="form-group col-lg-12">
      <label for="characterDexterity">Dexterity</label>
      <input type="number"
            class="form-control"
            formControlName="characterDexterity"
            id="characterDexterity">
    </div>

    <div class="form-group col-lg-12">
    <label for="characterConstitution">Constitution</label>
    <input type="number"
          class="form-control"
          formControlName="characterConstitution"
          id="characterConstitution">
    </div>

    <div class="form-group col-lg-12">
      <label for="setPieces">Intelligence</label>
      <input type="number"
            class="form-control"
            formControlName="characterIntelligence"
            id="characterIntelligence">
    </div>

    <div class="form-group col-lg-12">
      <label for="characterWisdom">Wisdom</label>
      <input type="number"
            class="form-control"
            formControlName="characterWisdom"
            id="characterWisdom">
    </div>

        <div class="form-group col-lg-12">
        <label for="characterCharisma">Charisma</label>
        <input type="number"
              class="form-control"
              formControlName="characterCharisma"
              id="characterCharisma">
      </div>


        <div class="form-group col-lg-12">
        <label for="characterHitPoints">Hit Points</label>
        <input type="number"
              class="form-control"
              formControlName="characterHitPoints"
              id="characterHitPoints">
      </div>

      <div class="form-group col-lg-12">
        <label for="characterExperiencePoints">Experience Points</label>
        <input type="number"
              class="form-control"
              formControlName="characterExperiencePoints"
              id="characterExperiencePoints">

      <div>Experience level up</div>
      </div>

      <div class="form-group col-lg-12">
        <label for="characterArmorClass">Armor Class</label>
        <input type="number"
              class="form-control"
              formControlName="characterArmorClass"
              id="characterArmorClass">
      </div>

      <div class="form-group col-lg-12">
        <label for="characterAlignment">Alignment</label>
          <select class="form-control" id="characterAlignment" formControlName="characterAlignment" required>
              <option value="Lawful">Lawful</option>
              <option value="Neutral">Neutral</option>
              <option value="Chaotic">Chaotic</option>
          </select>
      </div>

      <div class="form-group col-lg-12">
        <label for="characterLevel">Level</label>
        <input type="number"
              class="form-control"
              formControlName="characterLevel"
              id="characterArmorLevel">
      </div>
  
      <div class="form-group col-lg-12">
        <label for="characterSTMagicWand">Saving Throws - Magic Wand</label>
        <input type="number"
              class="form-control"
              formControlName="characterSTMagicWand"
              id="characterSTMagicWand">
      </div>

      <div class="form-group col-lg-12">
        <label for="characterSTPoison">Saving Throws - Poison</label>
        <input type="number"
              class="form-control"
              formControlName="characterSTPoison"
              id="characterSTPoison">
      </div>

      <div class="form-group col-lg-12">
        <label for="characterSTParalysis">Saving Throws - Paralysis</label>
        <input type="number"
              class="form-control"
              formControlName="characterSTParalysis"
              id="characterSTParalysis">
      </div>

      <div class="form-group col-lg-12">
        <label for="characterSTDragonBreath">Saving Throws - Dragon Breath</label>
        <input type="number"
              class="form-control"
              formControlName="characterSTDragonBreath"
              id="characterSTDragonBreath">
      </div>

      <div class="form-group col-lg-12">
        <label for="characterSTSpells">Saving Throws - Spells</label>
        <input type="number"
              class="form-control"
              formControlName="characterSTSpells"
              id="characterSTSpells">
      </div>

      <div class="form-group col-lg-12">
        <label for="characterEquipment">Saving Throws - Equipment</label>
        <input type="number"
              class="form-control"
              formControlName="characterEquipment"
              id="characterEquipment">
      </div>
      
        <div class="row px-3">
          <button type="submit" class="btn btn-success btn-block" (click)="addSet()">Add Set To Collection</button>
        </div>
  </form>
</div>
