@import '../node_modules/@angular/material/theming'; @include mat-core();

$my-primary: (
    50: #ede0e0,
    100: #d1b3b3,
    200: #b38080,
    300: #944d4d,
    400: #7d2626,
    500: #660000,
    600: #5e0000,
    700: #530000,
    800: #490000,
    900: #380000,
    A100: #ff6e6e,
    A200: #ff3b3b,
    A400: #ff0808,
    A700: #7d2626,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-accent: (
    50: #fbeaea,
    100: #f6cbcb,
    200: #f0a9a9,
    300: #ea8787,
    400: #e66d6d,
    500: #e15353,
    600: #dd4c4c,
    700: #d94242,
    800: #d53939,
    900: #cd2929,
    A100: #ffffff,
    A200: #ffd9d9,
    A400: #ffa6a6,
    A700: #ff8c8c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$dungeons-primary: mat-palette($my-primary);
$dungeons-accent: mat-palette($my-accent);
$my-theme-warn: mat-palette($my-primary);

$my-theme: mat-light-theme($dungeons-primary, $dungeons-accent, $my-theme-warn);

@include angular-material-theme($my-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: "blackletter-shadow";
    src: local("blackletter-shadow"), url(./assets/fonts/blackletter/BlackletterShadow-6YAA.ttf) format("truetype");
}

@font-face {
    font-family: "blackletter-bold";
    src: local("blackletter-bold"), url(./assets/fonts/blackletter/BlackletterExtrabold-51DV.ttf) format("truetype");
}

@font-face {
    font-family: "hidayatullah";
    src: local("hidayatullah"), url(./assets/fonts/hidayatullah/HidayatullahDemo-mLp39.ttf) format("truetype");
}

@font-face {
    font-family: "pirata";
    src: local("pirata"), url(./assets/fonts/pirata/PirataOne-Regular.ttf) format("truetype");
}

.blackletter-bold {
    font-family: "blackletter-bold", Arial, Helvetica, sans-serif;
}

.hidayatullah {
    font-family: "hidayatullah", Arial, Helvetica, sans-serif; 
}

.pirata {
    font-family: "pirata", Arial, Helvetica, sans-serif; 
    letter-spacing: 0px;
}
